.login-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.calendar {
  border: 1;
  border-style: solid;
  border-color: rgb(236, 235, 236);
  width: 120px;
  height: 50px;
}
